<launch>
    <arg name="platform" default="sim" doc="string representing the platform" />
    <arg name="bond_id_namespace" default="safety_bonds" />

    <!-- if we're in the sim -->
    <group if="$(eval str(arg('platform')) == 'sim')" >
        <include file="$(find iarc7_simulator)/launch/morse.launch" />

        <include file="$(find iarc7_vision)/launch/vision_node.launch">
            <arg name="platform" value="$(arg platform)" />
        </include>
    </group>
    <!-- if in V1.1 -->
    <group if="$(eval str(arg('platform')) == '1.1')" >
        <include file="$(find iarc7_fc_comms)/launch/fc_comms_msp.launch">
            <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
        </include>

        <include file="$(find iarc7_sensors)/launch/altimeter.launch" >
            <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
            <arg name="altimeter_name" value="lidarlite_v2" />
        </include>

        <include file="$(find iarc7_sensors)/launch/altimeter.launch" >
            <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
            <arg name="altimeter_name" value="vl53L0x" />
        </include>

        <include file="$(find iarc7_launch)/launch/static_transforms_1.1.launch" />

        <node pkg="rosserial_python" type="serial_node.py"
            name="teensy_serial">
            <param name="port" value="/dev/ttyS0" />
            <param name="baud" value="115200" />
        </node>

        <include file="$(find iarc7_launch)/launch/rplidar.launch" />

        <include file="$(find iarc7_launch)/launch/camera.launch">
            <arg name="device" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_51FE20EF-video-index0" />
            <arg name="camera_name" value="bottom_camera" />
            <arg name="image_width" value="640" />
            <arg name="image_height" value="360" />
            <arg name="image_timestamp_offset" value="-0.3" />
        </include>

        <include file="$(find iarc7_vision)/launch/vision_node.launch">
            <arg name="platform" value="$(arg platform)" />
        </include>
    </group>
    <!-- endif -->

    <!-- if crazyflie -->
    <group if="$(eval str(arg('platform')) == 'crazyflie')" >
        <include file="$(find iarc7_fc_comms)/launch/fc_comms_crazyflie.launch">
            <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
            <arg name="battery_topic" value="motor_battery" />
        </include>

        <include file="$(find iarc7_sensors)/launch/altimeter.launch" >
            <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
            <arg name="altimeter_name" value="vl53L0x" />
        </include>

        <include file="$(find iarc7_launch)/launch/static_transforms_crazyflie.launch" />

        <!-- a fake laser scanner for the obstacle detector -->
        <node name="fake_laser_scan"
            pkg="rostopic"
            type="rostopic"
            args="pub -s /scan sensor_msgs/LaserScan
                    &quot;{'header': auto, header: {frame_id: 'laser'}, 'ranges': [0]}&quot;
                    -r 1" />
        <!-- endif -->

        <!-- a fake roombas for motion coordinator -->
        <node name="fake_roombas"
            pkg="rostopic"
            type="rostopic"
            args="pub -s /roombas iarc7_msgs/OdometryArray
                    &quot;{}&quot;
                    -r 1" />
        <!-- endif -->
    </group>
    <!-- endif -->

    <rosparam command="delete" param="$(arg bond_id_namespace)" />
    <rosparam command="load"
        file="$(find iarc7_launch)/params/safety_config.yaml" />
    <include file="$(find iarc7_safety)/launch/iarc7_safety.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>
</launch>
