<launch>
    <arg name="platform" default="sim" doc="string representing the platform" />

    <node name="go_to_roomba_abstract" pkg="iarc7_abstract" type="go_to_roomba.py" />
    <param name="safety_bonds/go_to_roomba_abstract/form_bond" value="true" />

    <include file="$(find iarc7_launch)/launch/main.launch">
        <arg name="platform" value="$(arg platform)" />
    </include>

</launch>
