<launch>
    <arg name="platform" default="sim" doc="string representing the platform" />
    <node name="joystick_velocity_test_abstract" pkg="iarc7_abstract" type="joystick_velocity_test.py" />
    <param name="safety_bonds/joystick_velocity_test_abstract/form_bond" value="true" />

    <include file="$(find iarc7_launch)/launch/main.launch">
        <arg name="platform" value="$(arg platform)" />
    </include>

    <node pkg="joy" type="joy_node" name="joy_node_motion">
        <param name="dev" value="/dev/input/js1" />
        <param name="deadzone" value="0.1" />
        <param name="autorepeat_rate" value="50" />
        <param name="coalesce_interval" value="0.02" />
        <remap from="joy" to="motion_joy" />
    </node>

</launch>
