<launch>
    <arg name="platform" default="sim" doc="string representing the platform" />
    <arg name="bond_id_namespace" default="safety_bonds" />

    <include file="$(find iarc7_motion)/launch/motion_command_coordinator.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include file="$(find iarc7_motion)/launch/low_level_motion.launch">
        <arg name="platform" value="$(arg platform)" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>
</launch>
