<launch>
    <arg name="bond_id_namespace" default="safety_bonds" />
    <arg name="platform" default="sim" doc="string representing the platform" />
    <arg name="fake_bat" default="false" doc="create a fake motor battery publisher" />

    <rosparam command="load"
        file="$(find iarc7_launch)/params/arena.yaml" />

    <include file="$(find iarc7_launch)/launch/base_hardware.launch">
        <arg name="platform" value="$(arg platform)" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include  file="$(find iarc7_launch)/launch/localization.launch" />

    <include file="$(find iarc7_sensors)/launch/obstacle_detector.launch">
        <arg name="platform" value="$(arg platform)" />
    </include>

    <include if="$(eval str(arg('platform')) != 'sim_1.5')"
             file="$(find iarc7_vision)/launch/vision_node.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
        <arg name="platform" value="$(arg platform)" />
    </include>

    <include file="$(find iarc7_sensors)/launch/roomba_transform_filter.launch"/>

    <!-- if we need a fake battery publisher -->
    <group if="$(arg fake_bat)">
        <node name="fake_motor_pub"
            pkg="rostopic"
            type="rostopic"
            args="pub -s /motor_battery iarc7_msgs/Float64Stamped
                    &quot;{'header': auto, 'data': 21.0}&quot;
                    -r 10" />
    </group>
    <!-- endif -->

    <include file="$(find iarc7_sensors)/launch/landing_detector.launch">
        <arg name="platform" value="$(arg platform)" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include if="$(eval str(arg('platform')) not in ('1.9', '2.0'))"
             file="$(find iarc7_sensors)/launch/orientation_filter.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

</launch>
