<launch>
    <include file="$(find iarc7_launch)/launch/realsense_D4xx_nodelet.launch">
        <arg name="camera_name" value="front_camera" />
        <arg name="serial_no" value="817612070778" />
    </include>

    <include file="$(find iarc7_launch)/launch/realsense_D4xx_nodelet.launch">
        <arg name="camera_name" value="back_camera" />
        <arg name="serial_no" value="819112073271" />
    </include>

    <include file="$(find iarc7_launch)/launch/realsense_D4xx_nodelet.launch">
        <arg name="camera_name" value="left_camera" />
        <arg name="serial_no" value="749512060167" />
    </include>

    <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch">
        <arg name="serial_no" value="1521000211" />
        <arg name="camera" default="right_camera" />
        <arg name="camera_type" default="R200" />
        <arg name="mode" default="manual" />
        <arg name="color_width" default="640" />
        <arg name="color_height" default="480" />
        <arg name="color_fps" default="30" />
        <arg name="depth_width" default="480" />
        <arg name="depth_height" default="360" />
        <arg name="depth_fps" default="30" />
    </include>
</launch>
