<launch>
    <arg name="platform" default="sim" doc="string representing the platform" />
    <node name="test_obstacle_avoidance_abstract" pkg="iarc7_abstract" type="test_obstacle_avoidance.py" />
    <param name="safety_bonds/test_obstacle_avoidance_abstract/form_bond" value="true" />
    <arg name="bond_id_namespace" default="safety_bonds" />
    <arg name="fake_bat" default="false" doc="create a fake motor battery publisher" />

    <include file="$(find iarc7_launch)/launch/main.launch">
        <arg name="platform" value="$(arg platform)" />
    </include>

</launch>
