<launch>
    <arg name="bond_id_namespace" default="safety_bonds" />

    <node name="waypoints_test" pkg="iarc7_motion" type="waypoints_test.py" />
    <param name="$(arg bond_id_namespace)/motion_planner/form_bond"
        value="true" />

    <include file="$(find iarc7_launch)/launch/base_hardware.launch">
        <arg name="sim" value="true" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include file="$(find iarc7_motion)/launch/low_level_motion.launch">
        <arg name="platform" value="sim" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include file="$(find iarc7_launch)/launch/localization.launch" />

    <include file="$(find iarc7_vision)/launch/vision_node.launch" >
        <arg name="platform" value="sim" />
    </include>

    <include file="$(find iarc7_sensors)/launch/vel_filter.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
        <arg name="position_passthrough" value="true" />
    </include>
</launch>
